/* .buton{
    display: flex;
    float: left;
} */

.lol a{
    color:white;
    text-decoration: none;
}

footer{
    background-color: green;
    padding-top: 10px;
    color: aliceblue;
    text-align: center;
    height: 80px;
    font-size: 30px;
}

.modal-body a{
    color:whitesmoke;
    text-decoration: none;
}

.modal-footer button a{
    text-decoration: none;
}

.ken{
    text-decoration: none;
}